@import "../../main.scss";

.customMenu {
  /* display: none; */
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.customMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.customMenu li {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}
