@import "../../main.scss";

.quick-actions-container {
  min-width: 30%;
  position: fixed;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);

  ul {
    padding: 0.6rem 1rem;
    display: flex;
    background-color: $base-color;
    border-radius: 0.5rem;
    gap: 1rem;

    li {
      list-style-type: none;

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: 1;
      }
    }
  }
}
