@import "./sass/global_styles";


.wrapper {
  @include flex();
  padding: $wrapper-padding;
  height: 100dvh;
  background:$base-color;
  user-select: none;
}

.panel{
  $transition:all .5s ease-in-out;
  position:relative;
  width: $panel-width;
  background: $neutral-color-100;
  border-right: $border-width solid $border-color;
  border-start-end-radius: $border-radius;
  border-end-end-radius: $border-radius;
  &::after{
    content:"";
    @include offset-border($panel-width,1/2,$border-width,$border-color,$border-offset,left,top);
    transition:$transition;
  }

  &::before{
    content:"";
    @include offset-border($panel-width,2/1,$border-width,$border-color,$border-offset,left,bottom);
    transition:$transition;

  }
  &:hover{
    &::after{
      content:"";
      @include offset-border($panel-width,1/1,$border-width,$border-color,$border-offset - $border-offset,left,top);
    }
  
    &::before{
      content:"";
      @include offset-border($panel-width,1/1,$border-width,$border-color,$border-offset - $border-offset,left,bottom);
    }
  }
  
  &.invert{
    border-left: $border-width solid $border-color;
    border-right: none;
    border-radius: initial;
    border-start-start-radius: $border-radius;
    border-end-start-radius: $border-radius;
    
    &::after{
      content:"";
      @include offset-border($panel-width,1/2,$border-width,$border-color,$border-offset,right,top);
    transition:$transition;

    }
  
    &::before{
      content:"";
      @include offset-border($panel-width,2/1,$border-width,$border-color,$border-offset,right,bottom);
    transition:$transition;

    }
    &:hover{
      &::after{
        content:"";
        @include offset-border($panel-width,1/1,$border-width,$border-color,$border-offset - $border-offset,right,top);
      }
    
      &::before{
        content:"";
        @include offset-border($panel-width,1/1,$border-width,$border-color,$border-offset - $border-offset,right,bottom);
      }
    }
  }
  
}

